<igx-grid [data]="stockListJSONStocks" primaryKey="id" displayDensity="cosy" rowSelection="single" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-grid-toolbar>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
      <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
    </igx-grid-toolbar-actions>
    <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
  </igx-grid-toolbar>
  <igx-column field="id" dataType="string" header="id" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false" *ngIf="columnVisible"></igx-column>
  <igx-column field="company_name" dataType="string" header="company_name" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="stock_symbol" dataType="string" header="stock_symbol" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="stock_name" dataType="string" header="stock_name" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="stock_market_cap" dataType="string" header="stock_market_cap" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="stock_market" dataType="string" header="stock_market" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="stock_industry" dataType="string" header="stock_industry" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="stock_sector" dataType="string" header="stock_sector" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="country" dataType="string" header="country" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="longitude" dataType="number" header="longitude" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="latitude" dataType="number" header="latitude" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="earnings" dataType="number" header="earnings" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="expenses" dataType="number" header="expenses" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="earnings_date" dataType="string" header="earnings_date" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="previous_close" dataType="number" header="previous_close" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="day_range" dataType="number" header="day_range" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="year_range" dataType="number" header="year_range" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="avg_volume" dataType="number" header="avg_volume" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="pe_ratio" dataType="number" header="pe_ratio" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="dividend_yield" dataType="number" header="dividend_yield" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
  <igx-column field="img_url" dataType="string" header="img_url" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
</igx-grid>
